.message_section {
  padding: 5px;
  background-color: rgb(10, 98, 98);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.message_section h1 {
  text-align: center;
  font-size: xx-large;
  color: rgb(250, 247, 252);
}

.message_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-right: 10px;
}

.message_details {
  font-size: medium;
  color: rgb(69, 68, 68);
  font-weight: bold;
  border-radius: 10px;
  line-height: 0.5;
  /* width: 250px; */
  padding: 1rem;
  background-color: white;
}

.message_details::-webkit-scrollbar {
  display: none;
}

.message_details span {
  font-size: small;
  color: rgb(47, 34, 93);
}

.message_area {
  border: 1px solid rgb(226, 221, 221);
  width: 95%;
  padding: 5px;
  height: 80px;
  font-size: small;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: aliceblue;
}
.message_area::-webkit-scrollbar {
  display: none;
}

.message_area span {
  color: rgb(88, 31, 193);
}



@media (max-width: 1080px) {
  .message_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}

@media (max-width: 762px) {
  .message_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .message_details {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .message_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }

  .message_details {
    width: 250px;
  }
}
